
/* Definindo a cor de fundo da página */
body {
  background-color: #000000; /* Alterar essa cor para qualquer cor que você preferir */
  font-family: Arial, sans-serif;
  color: #eeff00ce; /* Cor do texto */
  margin: 0;
  padding: 0;
  height: 100vh; /* Garante que o fundo ocupe toda a altura da tela */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
}

